.public, .cell, .bill {
  padding: 0 .15rem;
  box-sizing: border-box;
}

.cell-item {
  height: .60rem;
  border-bottom: solid 1px #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cell-item img {
  flex-shrink: 0;
  width: .20rem;
  height: .20rem;
}

.cell-item span {
  flex: 1;
  margin: 0 .06rem;
  font-size: 0.14rem;
  font-weight: 400;
  color: #262626;
}

.cell-item div {
  font-size: 0.14rem;
  font-weight: bold;
  color: #000;
  margin-right: .08rem;
  flex-shrink: 0;
}

.bill-item {
  padding: .20rem 0 .15rem 0;
  border-bottom: solid 1px #FAFAFA;
}

.bill-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bill-main img {
  flex-shrink: 0;
  width: .26rem;
  height: .26rem;
}

.bill-main span {
  flex: 1;
  margin: 0 .10rem;
  font-size: 0.14rem;
  font-weight: bold;
  color: #262626;
}

.bill-main .price {
  flex-shrink: 0;
  font-size: 0.18rem;
  font-weight: bold;
  color: #262626;
}

.bill-tip {
  font-size: 0.12rem;
  font-weight: 400;
  color: #BFBFBF;
  padding-left: .36rem;
  box-sizing: border-box;
}
