.transparent-nav-page {
  padding-top: 50px;
  position: relative;
}

.background {
  width: 100%;
  height: 1.8rem;
  background-image: url("../assets/images/list-back.png");
  background-size: cover;
  background-position: center;
  padding-top: 62px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: -1;
}

.list-container {
  background-color: #FAFAFA;
}
