.van-field {
  width: 3.45rem;
  height: .38rem;
  background-color: #FAFAFA;
  border-radius: .05rem;
  margin: 0 auto .20rem auto;
  position: relative;
  overflow: initial;
  font-size: .14rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.van-field__label {
  position: relative;
}

.van-field__label::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: .14rem;
  background-color: #D8D8D8;
}

.van-field .van-icon {
  font-size: .12rem;
}

.van-field__error-message {
  position: absolute;
  bottom: 0;
  transform: translateY(0.2rem);
  font-size: .12rem;
}
