.custom-form-item {
  width: 3.45rem;
  margin: .20rem auto;
}

.public-style, .custom-field, .custom-textarea {
  border-radius: .05rem;
  background-color: #FAFAFA;
}

.custom-field {
  width: 3.45rem;
  height: 0.38rem;
  padding: 0 .15rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.14rem;
  font-weight: 400;
  color: #262626;
}

.custom-field .label {
  flex-shrink: 0;
  width: .70rem;
  height: .14rem;
  line-height: .14rem;
  box-sizing: border-box;
  border-right: solid 1px #D8D8D8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.custom-field .main {
  margin-left: .15rem;
  flex: 1;
}

.custom-field .main input {
  line-height: .14rem;
  width: 100%;
  background-color: transparent;
  border: none;
}

.custom-field .main input::placeholder {
  color: #BFBFBF;
}

.custom-textarea {
  padding: .10rem .15rem;
  font-size: 0.14rem;
  font-weight: 400;
  color: #262626;
}

.custom-textarea .label {
  margin-bottom: .05rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.custom-textarea .label div {
  flex-shrink: 0;
}

.custom-textarea .label .error-tip {
  flex: 1;
}

.custom-textarea .label .link {
  color: #FFCD00;
}

.custom-textarea textarea {
  width: 100%;
  height: .40rem;
  border: none;
  background-color: transparent;
}

.custom-textarea .textarea-error::placeholder {
  color: #ee0a24;
}

.placeholder {
  color: #BFBFBF;
}

.required {
  color: #ee0a24;
  background-color: red;
}

.required::placeholder {
  color: #ee0a24 !important;
}

.error-message {
  margin-top: 2px;
  margin-left: 1rem;
  font-size: 0.12rem;
  font-weight: 400;
  color: #ee0a24;
}

.error-tip {
  margin: 0 .10rem;
  font-size: 0.12rem;
  font-weight: 400;
  color: #ee0a24;
}

.menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: calc(100% - .85rem);
  z-index: 100;
  max-height: 1.76rem;
  overflow-y: scroll;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.06);
  border-radius: .05rem;
  transform-origin: top;
  transition: all .3s;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu-item, .menu-item-active {
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  padding-left: .10rem;
  box-sizing: border-box;
}

.menu-item-active {
  background-color: #EEF2FB;
}
