.header {
  width: calc(100% - .3rem);
  height: .5rem;
  padding: 0 .15rem;
  box-sizing: border-box;
  border-radius: .06rem;
  background-color: #ffffff;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: .2rem;
  left: .15rem;
  z-index: 10;
}

.header input {
  margin: 0 .05rem 0 .10rem;
  box-sizing: border-box;
  flex: 1;
  border: none;
}

.search {
  width: calc(100% - .3rem);
  max-height: calc(100vh - 1.05rem);
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: .06rem;
  position: fixed;
  top: .8rem;
  left: .15rem;
  z-index: 11;
}

.search-item + .search-item {
  border-top: solid 1px #EEF2FB;
}

.search-item {
  padding: .1rem .15rem;
}

.search-item:active {
  background-color: #f5f5f5;
}

.search-item-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-item-info {
  flex: 1;
  margin-left: .1rem;
}

.search-item-result {
  font-size: 0.16rem;
  font-weight: bold;
  color: #262626;
}

.search-item-address {
  margin-top: .03rem;
  font-size: 0.12rem;
  font-weight: 400;
  color: #8C8C8C;
}
