@import './vars.scss';

.submit{
  padding: 0 .15rem;
  box-sizing: border-box;

  &-checkbox{
    margin-bottom: .15rem;
    @include font (.12rem, $tip-text);
  }

  .link{
    color: $main-color;
  }
}

// 确认号码
.confirm-phone{
  margin-top: .18rem;
  text-align: center;
  @include font (.12rem, $tip-text);

  .phone{
    color: $main-text;
  }

  .link{
    color: $main-color;
    margin-left: .15rem;
  }
}

// 温馨提示
.tip{
  margin: .30rem .15rem;
  @include font (.12rem, $tip-text);
  line-height: .24rem;
}