.user {
  height: .50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-info .avatar {
  width: 0.20rem;
  height: 0.20rem;
  margin-right: .10rem;
  border-radius: 50%;
  background-color: #E8E8E8;
  overflow: hidden;
}

.user-info .name {
  font-size: 0.14rem;
  font-weight: bold;
  color: #262626;
  text-align: left;
  max-width: .8rem;
}

.user-info .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 0.12rem;
  font-weight: 400;
  color: #BFBFBF;
  margin-left: .10rem;
}

.user-info .social img {
  width: 0.16rem;
  height: 0.16rem;
  margin-right: .02rem;
}

.user .book-order {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user .book-order .seat {
  font-size: 0.12rem;
  font-weight: 400;
  color: #BFBFBF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: .08rem;
}

.user .book-order .seat .num, .user .book-order .seat .num-yellow, .user .book-order .seat .num-green {
  margin-left: 0.03rem;
  font-weight: bold;
  font-size: .14rem;
}

.user .book-order .seat .num-yellow {
  color: #FFCD00;
}

.user .book-order .seat .num-green {
  color: #0AD593;
}
