// 主题色
$main-color: #FFCD00;
// 二级主题色
$sub-color: #FFAE20;
// 辅助色Blue
$aid-blue-color: #00AEFF;
// 辅助色Green
$aid-green-color: #0AD593;

// 主要、一级标题
$main-text: #262626;
// 正文、二级内容
$sub-text: #8C8C8C;
// 提示、三级内容
$tip-text: #BFBFBF;
// 边框、分割线、四级内容
$normal-text: #E8E8E8;

// 快捷路线卡片背景色
$linecard-color: #EEF2FB;